@import "tailwindcss";

@theme {
  --color-brand-cream: #FDF6EC;
  --color-brand-amber: #D97706;
  --color-brand-brown: #3B1F0E;
  --color-brand-rose: #F9A8D4;
  --color-swiggy-orange: #FC8019;

  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: #FDF6EC;
  --foreground: #3B1F0E;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #FDF6EC;
}
::-webkit-scrollbar-thumb {
  background: #D97706;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3B1F0E;
}
